---
interface Props {
  class?: string;
  hideText?: boolean;
}

const { class: className, hideText } = Astro.props;
---

<div class:list={['flex items-center', className]}>
  <img src="/android-chrome-512x512.png" alt="Jaque Logo" class="w-16 h-16" />
  {!hideText && (
    <span class="mb-0 text-2xl font-bold bg-gradient-to-r from-primary-700 to-primary-500 bg-clip-text text-transparent">Jaque Automation</span>
  )}
</div>
